.greyBox {
	background-color: #6c6c6c;
	width: auto;
	margin: 10px;
	box-shadow: 6px 6px 10px #888888;
	border-radius: 5px;
}

body {
	background-color: #bbbbbb;
	margin: 10px 25px;
}

.square {
	height:48%;
}

#top {
	width: 100%;
	height: 28vh;
	margin-top: 0px;
	margin-bottom: 0px;
}

#topLeft {
	width:60%;
	float:left;
	height: 100%;
	margin: 10px 0px 10px 10px;
}
#topRight {
	width: 35%;
	float: right;
	height: 100%;
	font-family: serif;
	font-weight: bold;
	font-size: 40px;
	padding-left:10px;
	text-align: center;
}

#centercenter {
	height:98%

}

#bottom {
	width:100%;
	height:65vh;
}
#left {
	width:25%;
	height:100%;
	float: left;
}
#center {
	width:50%;
	height:100%;
	float: left;
}
#right {
	width:25%;
	height:100%;
	float:left;
}

#logo {
	max-width: 15%;
	width: auto;
	height: 100%;
	float: left;
}

#name {
	max-width: 80%;
	height: 100%;
	width: auto;
	float: left;
	margin-left: 20px;
}

#imgcenter {
	margin-left: auto;
    margin-right: auto;
    display: block;
    height: 80%;
    width: auto;
    padding-top: 35px;
}

label {
	font-family: serif;
	font-size: 60px;
}

h1 {
	font-size: 30px;
	text-align: center;
}
#colourBack {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 80%;
    width: auto;
    padding-top: 10px;
    text-align: center;
}

#colourBack h1 {
	margin-bottom: 0;
}