.greyBox {
	background-color: #6c6c6c;
	width: auto;
	margin: 10px;
}

body {
	background-color: #bbbbbb;
}

.square {
	height:48%;
}

#top {
	width: 100%;
	height: 200px;
}

#topLeft {
	width:60%;
	float:left;
	height: 100%;
}
#topRight {
	width: 35%;
	float: right;
	height: 100%;
}

#centercenter {
	height:98%;
}

#bottom {
	width:100%;
	height:550px;
}
#left {
	width:25%;
	height:100%;
	float: left;
}
#center {
	width:50%;
	height:100%;
	float: left;

}
#right {
	width:25%;
	height:100%;
	float:left;
}
#leftTop {
}