.greyBox {
	background-color: #6c6c6c;
	width: auto;
	margin: 10px;
}

body {
	background-color: #bbbbbb;
	margin: 0;
}

.square {
	height:48%;
}

#top {
	width: 100%;
	height: 28vh;
	margin-top: 0px;
	margin-bottom: 0px;
}

#topLeft {
	width:60%;
	float:left;
	height: 100%;
	margin: 10px;
}
#topRight {
	width: 35%;
	float: right;
	height: 100%;
}

#centercenter {
	height:98%;
	object-position: center;
}

#bottom {
	width:100%;
	height:68vh;
}
#left {
	width:25%;
	height:100%;
	float: left;
}
#center {
	width:50%;
	height:100%;
	float: left;
}
#right {
	width:25%;
	height:100%;
	float:left;
}

#logo {
	max-width: 15%;
	width: auto;
	height: 100%;
	float: left;
}

#name {
	max-width: 80%;
	height: 100%;
	width: auto;
	float: left;
}
